<!DOCTYPE html>
<html ng-app="iot-dashboard">
  <head>
  	<meta name="viewport" content="width=device-width">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='vendor/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='vendor/bootstrap/dist/css/bootstrap-theme.css' />
    <script language="javascript" src='vendor/jquery/dist/jquery.js'></script>
    <script language="javascript" src='vendor/bootstrap/dist/js/bootstrap.js'></script>
    <script language="javascript" src='vendor/d3/d3.js'></script>
    <script language="javascript" src='js/gauge.js'></script>
  </head>
  <body>
		<div class="container-fluid">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">IoT-Dashboard</a>
					</div>
					<div class="collapse navbar-collapse" id="menu-1">
						<ul class="nav navbar-nav">
							<li><a ng-href="#/dashboard">Dashboard</a></li>
							<li class="dropdown">
								<a href="#"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configure<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a ng-href="#/gateways">Gateways</a></li>
									<li><a ng-href="#/alerts">Alerts</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div ng-view></div>
		</div>
    <script language="javascript" src='vendor/angular/angular.js'></script>
    <script language="javascript" src='vendor/angular-route/angular-route.js'></script>
    <script language="javascript" src='js/main.js'></script>
    <script language="javascript" src='js/controllers.js'></script>
    <script language="javascript" src='js/dashboard-gauges.js'></script>
  </body>
</html>
